<div class="center jumbotron">
  <h1>Welcome to Raye7 App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.raye7.com">Raye7</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <br><%= link_to "Log In", new_user_session_path, class: "btn btn-lg btn-primary" %>
</div>
