<p style="display:inline;">Name: </p> <h1 style="display:inline;"><%= current_user.name %></h1>
<br>
<p style="display:inline;">Role: </p><h5 style="display:inline;"><%= current_user.role %></h5>
<br>
<p style="display:inline;">Phone: </p><h5 style="display:inline;"><%= current_user.phone %></h5>
<br>
